@charset "utf-8";
html,body,#app,.el-container{height:100%;margin:0;padding:0;}
			.el-aside{background:#333;color:#eee;text-align:right;}
			.el-aside a:link,.el-aside a:visited{color:#eee;text-decoration:none;}
			.el-aside a:hover{color:#fff;font-weight:bold;}
			.el-aside>h1{font:24px/60px 微软雅黑;padding-right:10px;}
			.el-aside>p{padding-right:16px;font:12px/20px 微软雅黑;}
			
			iframe{width:100%;border:0;}
		    
			.el-menu{background:transparent;margin-left:20px;border:0;overflow:hidden;}
			.el-submenu__title{line-height:32px;height:32px; border-radius:6px 0 0 6px; color:#fff; text-align:right; padding-right:40px; background:linear-gradient(to bottom,#409EFF,#909399);}
			.el-submenu{margin-top:10px;}
			.el-submenu .el-menu-item{transition:none;height:30px;line-height:30px;color: white; padding-right: 65px;}
			.el-submenu .el-menu-item:hover{background:transparent;}
			.menu {text-align: center;}
			
			#main{background:#f6f6f6;}
			.el-header>h1{font-size:24px;margin-bottom:0;}
			.el-footer{border-top:1px solid #ccc;font:12px/60px 微软雅黑;color:#555;}
			
			.el-card{border:1px solid #ccc;}
			.el-card__header{background:#E9E9E9;border-bottom:1px solid #ccc;font-size:18px;font-weight:bold;}
			.el-alert{margin-bottom: 15px;}
			
			
			/*新增管理员表单样式*/
			#admin_add {
				width: 300px;
			}
			#admin_add>p>span,.el-header>p>span {
				color: red;
				font-weight: bold;
			}
			#admin_add .el-input__inner {
				margin-top: 15px;
			}
			
			/*会员列表页样式*/
			#member_form .el_input {
				width: 300px;
			}
			 .el-input {
			    position: relative;
			    font-size: 14px;
			    display: inline-block;
			    width: 200px;
			}
			
			/*商品管理列表样式*/
			#member_form_header>*{
				float:left
			}
			#member_form_header {
				overflow: hidden;
			}
			#member_form_header>div {
				margin-right: 20px;
				height: 40px;
				line-height: 40px;
			}
			#member_form_header>span {
				height: 40px;
				line-height: 40px;
			}
			#member_form .el-table {
				border-top:1px solid #ccc;
				margin:15px 0;
			}
			#member_form .el-icon-edit:before{
			    content: "\e61c";
			    font-size: 20px;
			}
			.el-icon-delete:before {
			    content: "\e612";
			    font-size: 20px;
			    color: red;
			}
